<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroTech</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/index.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <a href="/login"><img src="/images/user.png" alt="Login logo"></a>
        </div>
        <nav>
            <ul>
                <li><a href="#Areas_de_Atuacao_1">Áreas de Atuação</a></li>
                <li><a href="#Projetos_1">Projetos</a></li>
                <li><a href="#Equipe_1">Equipe</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="Home_1" class="Home">
            <section id="Principal">
                <h1>AgroTech</h1>
                <h2>Tecnologia na Agropecuária</h2>
    
                <p id="Explicacao">Serviços de desenvolvimento de software e venda de produtos para auxilio na agropecuária.</p>
                
                <div id="destaques">
                    <p id="DESTAQUE-1">DESTAQUE</p>
                    <p id="DESTAQUE-2">Diversos casos de sucesso espalhados pelo Brasil!</p>
                </div>
            </section>

            <section id="LOGO">
                <img src="/images/sheep_2.ico" alt="Logo da AgroTech">
            </section>
        </div>

        <div class="Servicos">
            <section>
                <div id="Titulo">
                    <img src="/images/help.png" alt="Assistencia tecnica">
                    <h3>Assistência técnica</h3>
                </div>
                <p>Nosso suporte técnico garante que os clientes recebam assistência rápida e eficiente, garantindo o funcionamento contínuo e sem problemas dos nossos softwares.</p>
            </section>
    
            <section>
                <div id="Titulo">
                    <img src="/images/coding.png" alt="Venda de software">
                    <h3>Venda de software</h3>
                </div>
                <p>Oferecemos uma ampla seleção de softwares especializados para o setor agropecuário, proporcionando soluções eficazes para otimizar as operações dos nossos clientes.</p>
            </section>
    
            <section>
                <div id="Titulo">
                    <img src="/images/personalized.png" alt="Desenvolvimento especializado">
                    <h3>Desenvolvimento especializado</h3>
                </div>
                <p>Conte com nossa equipe de desenvolvimento especializado para criar soluções personalizadas e inovadoras que atendam às necessidades específicas do seu negócio agrícola ou pecuário, impulsionando sua produtividade e eficiência.</p>
            </section>
        </div>

        <div id="Areas_de_Atuacao_1" class="Areas_de_Atuacao">
            <section>
                <p>Criação de calculadoras de ração personalizadas para diferentes espécies, como ovinos e caprinos, visando otimizar a dieta e garantir a nutrição adequada do rebanho.</p>
                <h3>Desenvolvimento de Soluções Nutricionais para Pecuária</h3>
            </section>
    
            <section>
                <p>Implementação de sistemas de monitoramento e controle de alimentação que integram dados de consumo de alimentos para avaliar a eficácia das dietas e ajustar conforme necessário.</p>
                <h3>Desenvolvimento de Soluções Nutricionais para Pecuária</h3>
            </section>
    
            <section>
                <p>Desenvolvimento de sistemas de detecção de peso baseados em imagem 3D para a pesagem automatizada de animais, visando melhorar a precisão e eficiência do processo.</p>
                <h3>Tecnologia para Peso e Identificação Animal</h3>
            </section>
    
            <section>
                <p>Desenvolvimento de sistemas de análise de imagens aéreas para reconhecimento do terreno e mapeamento de áreas agrícolas, permitindo uma melhor compreensão das condições do solo e planejamento de cultivos.</p>
                <h3>Análise e Monitoramento Agrícola por Imagem</h3>
            </section>
    
            <section>
                <p>Implementação de modelos de planilhas dinâmicas que se ajustam automaticamente a novos dados, facilitando a análise e apresentação de informações.</p>
                <h3>Automatização de Tabelas no Excel</h3>
            </section>    
            
            <section>
                <p>Implementação de técnicas estatísticas avançadas para identificar padrões, tendências e insights significativos nos dados, auxiliando na tomada de decisões estratégicas.</p>
                <h3>Análise de Dados de Resultados</h3>
            </section>
        </div>

        <div id="Projetos_1" class="Projetos">
            <section>
                <div>
                    <h3>SPOT - Sistema Peso Ovino Tridimensional</h3>
                    <p>O SPOT - Sistema Peso Ovino Tridimensional é uma ferramenta tecnológica avançada que traz inovação e eficiência para a criação de ovinos, melhorando a precisão da pesagem e contribuindo para o bem-estar animal e a gestão eficaz do rebanho.</p>
                    <ul>
                        <li>Visualização e Identificação 3D</li>
                        <li>Medidas Precisas</li>
                        <li>Predição de Peso</li>
                    </ul>
                </div>
                <img id="SPOT_Image" src="/images/SPOT.png" alt="SPOT">
            </section>

            <section>
                <img id="BRCO_Image" src="/images/BRCO.png" alt="BRCO">
                <div>
                    <h3>BRCO - BR Caprinos e Ovinos</h3>
                    <p>O BRCO - BR Caprinos e Ovinos é uma calculadora nutricional avançada para a formulação de dietas de ovinos e caprinos, especificamente adaptada para a produção brasileira. O software abrange um programa de composição de alimentos, exigências nutricionais dos animais, e ferramentas para avaliação e formulação de dietas.</p>
                    <ul>
                        <li>Programa de Composição de Alimentos</li>
                        <li>Exigências Nutricionais</li>
                        <li>Formulação de Dietas</li>
                    </ul>
                </div>
            </section>
        </div>

        <div id="Equipe_1" class="Equipe">
            <section>
                <p id="Descricao">Sou um estudante de ciência da computação, especializado em desenvolvimento de software com interesse no agronegócio. Estou comprometido em aplicar minhas habilidades para criar soluções inovadoras para a producção no campo.</p>
                <img src="https://avatars.githubusercontent.com/u/68549693?v=4" alt="Foto de perfil de Arthur Azevedo">
                <p><strong>Arthur Azevedo</strong></p>
            </section>
    
            <section>
                <p id="Descricao">Estou focado em desenvolver e implementar automação e tecnologias de machine learning. Meu objetivo é criar sistemas inteligentes que possam aprender e melhorar continuamente, impulsionando a eficiência e a inovação em diversos setores.</p>
                <img src="https://avatars.githubusercontent.com/u/98601288?v=4" alt="Foto de perfil de Carlos Henrique Mendonça">
                <p><strong>Carlos Henrique Mendonça</strong></p>
            </section>
        </div>

        <section id="Contato">
            <h3>Gostou dos nossos produtos e serviços?</h3>
            <h3>Entre já em contato!</h3>

            <a href="/contato"><button>Contato</button></a>
        </section>
    </main>

    <footer>
        <p>© 2024 AgroTech. Todos os direitos reservados.</p>
        <nav>
            <ul>
                <li><a href="#Home_1">Home</a></li>
                <li><a href="#Areas_de_Atuacao_1">Áreas de Atuação</a></li>
                <li><a href="#Projetos_1">Projetos</a></li>
                <li><a href="#Equipe_1">Equipe</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </footer>

</body>
</html>