<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroTech</title>
    <link rel="icon" href="Images/sheep_2.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/relatorio.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="Logomarca">
            <p id="Nome_Principal"><strong>AgroTech</strong></p>
            <p id="Nome_Secundario">Tecnologia na Agropecuária</p>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Areas de Atuacao</a></li>
                <li><a href="/">Projetos</a></li>
                <li><a href="/">Equipe</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="Home">
            <h1>Visualização das informações:</h1>
            <div class="endereco">
                <h2>Endereco</h2>
                <input type="text" id="search-input" placeholder="Digite sua pesquisa...">
                <button id="Button_1" onclick="searchTables()">Pesquisar</button>
                <button id="Button_2" onclick="showAllTables()">Mostrar Tudo</button>
            </div>
            <div class="estoque">
                <h2>Estoque</h2>
                <input type="text" id="search-input" placeholder="Digite sua pesquisa...">
                <button id="Button_1" onclick="searchTables()">Pesquisar</button>
                <button id="Button_2" onclick="showAllTables()">Mostrar Tudo</button>
            </div>
            <div class="fazenda">
                <h2>Fazenda</h2>
                <input type="text" id="search-input" placeholder="Digite sua pesquisa...">
                <button id="Button_1" onclick="searchTables()">Pesquisar</button>
                <button id="Button_2" onclick="showAllTables()">Mostrar Tudo</button>
            </div>
            <div class="itensPedidos">
                <h2>Itens Pedidos</h2>
                <input type="text" id="search-input" placeholder="Digite sua pesquisa...">
                <button id="Button_1" onclick="searchTables()">Pesquisar</button>
                <button id="Button_2" onclick="showAllTables()">Mostrar Tudo</button>
            </div>
            <div class="pedidos">
                <h2>Pedidos</h2>
                <input type="text" id="search-input" placeholder="Digite sua pesquisa...">
                <button id="Button_1" onclick="searchTables()">Pesquisar</button>
                <button id="Button_2" onclick="showAllTables()">Mostrar Tudo</button>
            </div>
            <div class="pessoa">
                <h2>Pessoa</h2>
                <input type="text" id="search-input" placeholder="Digite sua pesquisa...">
                <button id="Button_1" onclick="searchTables()">Pesquisar</button>
                <button id="Button_2" onclick="showAllTables()">Mostrar Tudo</button>
            </div>
            <div class="produtos">
                <h2>Produtos</h2>
                <input type="text" id="search-input" placeholder="Digite sua pesquisa...">
                <button id="Button_1" onclick="searchTables()">Pesquisar</button>
                <button id="Button_2" onclick="showAllTables()">Mostrar Tudo</button>
            </div>
            <div class="softwares">
                <h2>Softwares</h2>
                <input type="text" id="search-input" placeholder="Digite sua pesquisa...">
                <button id="Button_1" onclick="searchTables()">Pesquisar</button>
                <button id="Button_2" onclick="showAllTables()">Mostrar Tudo</button>
            </div>
        </div>
    </main>

    <footer>
        <p>© 2024 AgroTech. Todos os direitos reservados.</p>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">Areas de Atuacao</a></li>
                <li><a href="/">Projetos</a></li>
                <li><a href="/">Equipe</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </footer>

</body>
</html>