/* Resetando alguns estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    margin: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

/* Cabeçalho */
header {
    font-family: Outfit;
    background-color: #fff;
    padding: 10px 0;
    width: 100%;
    position: relative;
    top: 5px;
    display: flex;
    justify-content: center;
}

header img {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 150px; 
    top: 50%; 
    transform: translateY(-50%); 
}

header img:hover {
    cursor: pointer;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    text-decoration: overline;
    color: #000;
    font-size: 16px;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: rgba(0, 0, 0, 0.400);
}

/* Conteúdo principal */
main {
    font-family: Outfit;
    margin: 50px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.Home {
    display: flex;
    margin-top: 60px;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.Home img {
    width: 400px;
    height: 400px;
}

.Home h1 {
    font-size: 56px;
}

.Home h2 {
    font-size: 36px;
    margin-bottom:30px;
}

#Explicacao {
    font-size: 18px;
}

#destaques {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

#DESTAQUE-1 {
    background-color: black;
    color: white;
    padding: 12px 15px;
    margin-right: 10px;
    font-size: 16px;
}

#DESTAQUE-2 {
    font-size: 14px;
}

.Servicos {
    display: flex;
    gap: 55px;
    margin-top: 120px;
    justify-content: center;
}

.Servicos p{
    text-align: left; 
}

.Servicos h3{
    margin-bottom: 15px;
    text-align: center;
}

.Servicos img{
    width: 30px;
    height: 30px;
}

.Servicos section {
    width: 350px;
    height: 250px;
}

#Titulo {
    display: flex;
    gap: 15px;
}

.Areas_de_Atuacao {
    display: flex;
    margin-top: 120px;
    gap: 15px;
    position: relative;
    overflow: auto;
}

.Areas_de_Atuacao p{
    text-align: center; 
    font-size: 18px;
}

.Areas_de_Atuacao h3{
    position: absolute;
    bottom: 30px;
    text-align: center;
    font-size: 16px;
}

.Areas_de_Atuacao section {
    position: relative;
    flex: none;
    width: 300px;
    height: 320px;
    border: 2px solid #00000015;
    padding: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); 
    margin: 20px auto;
}

.Projetos {
    margin-top: 120px;
    gap: 15px;
}

.Projetos h3{
    font-size: 22px;
}

.Projetos p{
    font-size: 16px;
}

.Projetos ul{
    margin-top: 10px;
    margin-left: 20px;
}

.Projetos section {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    width: 1100px;
    height: 350px;
    margin: 0 auto;
}

#SPOT_Image {
    width: 550px;
    height: 300px;
}

#BRCO_Image {
    width: 400px;
    height: 270px;
}

.Equipe {
    display: flex;
    margin-top: 120px;
    justify-content: center;
    gap: 30px;
}

.Equipe section {
    width: 320px;
    height: 350px;
    border: 2px solid #00000015;
    padding: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15); 
}

.Equipe img {
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#Descricao {
    text-align: center; 
    margin-bottom: 35px;
    font-size: 16px;
}

#Contato {
    margin-top: 280px;
    font-family: Outfit;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Contato button {
    margin-top: 30px;
    margin-bottom: 280px;
    font-size: 18px;
    padding: 10px 40px;
    background-color: #000; 
    color: white; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

#Contato button:hover {
    background-color: rgba(0, 0, 0, 0.400);
}

/* Rodapé */
footer {
    font-family: Outfit;
    font-size: 12px;
    align-items: center;
    background-color: #fff;
    padding: 10px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer p {
    text-align: left;
    padding-left: 20px;
}

footer nav {
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
}

footer nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

footer nav ul li {
    margin: 0 10px;
}

footer nav ul li a {
    text-decoration: overline;
    color: #000;
    transition: color 0.3s ease;
}

footer nav ul li a:hover {
    color: rgba(0, 0, 0, 0.400);
}